.App {
  text-align: center;
  font-family: serif;
}

.navigation a {
  margin: 0 10px;
}

header {
  background-color: #ddd;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

header h3 a { 
  text-decoration: none; 
  color: #212529; 
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

body {
  margin-top: 120px;
  margin-bottom: 30px;
}

.sticky-top {
  top: 120px;
}

.results {
  background-color: #f3f3f3;
  padding: 20px;
  height: calc(100vh - 150px);
  overflow-y: auto;
}

@media only screen and (max-width: 575px) {
  .results {
    margin-top: 40px;
  }
}

.radio-buttons {
  margin: 15px 0;
}

.radio-buttons label { 
  margin-right: 1.5rem;
}

.radio-buttons input[type=radio] { 
  margin-right: .4rem;
}

button + p {
  margin-top: 20px;
}

button + button {
  margin-left: 10px;
}

h4 {
  margin-bottom: 20px;
}

.about {
  margin: 0 auto;
  max-width: 600px;
}

.api-note {
  margin-top: 5px;
  font-style: italic;
  color: #e83e8c;
}

.loading {
  text-align: center;
  mix-blend-mode: multiply;
}

.login-error {
  color: red;
  font-style: italic;
}