.login {
    margin: 50px auto;
    text-align: center;
}

.login input{
    margin: 10px auto;
    display: block;
    min-width: 200px;
}

.login button{
    margin: 10px auto;
    display: block;
}
