
.transaction-list li {
    list-style-type: none;
    border: 1px solid #999999;
    border-radius:  25px;
    width: 400px;
    margin: 10px auto;
    padding: 10px;
    background-color: #f6f6f6;
}

.transaction-list #translated-text {
    font-style: italic;
}

.transaction-list #username {
    margin-left: 150px;
    font-size: 9px;
}

.transaction-list #username::before {
    content: " - ";
}

.transaction-list button {
    display: block;
    float: right;
}
